<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Konnectia</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'home.css' %}">
  <!-- <link rel="stylesheet" href="../static/home.css"> -->
</head>

<body>
  <nav class="navigation-bar">
    <div class="info">
      <div class="nav-options">
        <div class="logo">
          <p>Konnectia</p>
        </div>
        <div class="content">
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Department</a>
          <a href="#">Community</a>
        </div>
        
        

        <div class="login-register">
          <button type="submit" class="register"><a href="/signup">SignUp</a></button>
          <button type="submit" class="login"><a href="/signin">Login</a></button>
          <!-- <button type="submit"><a href="/signout">Logout</a></button> -->
        </div>
      </div>
    </div>
  </nav>

  <!-- upto this contains the navigation bar with login and sign-up page on clicking -->


  <div class="page-1">
    <div>
      <h1 class="about">
        <span>Connect, Learn &</span>
        <span> Grow Together </span>
      </h1>
      <p>
        Join our vibrant academic community where students, faculty,
        and alumni collaborate to create an enriching learning
        environment.
      </p>
    </div>
    <div class="but">
      <button>Join Now</button>
      <button>Explore Resources</button>
    </div>
  </div>
  <style src="script.js"></style>
</body>

</html>
